
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
 }

 #div1 {
width: 100%;
min-height: 50px;   
background-color: lightgray;
padding-left: 2%;
line-height: 50px;
margin: 10px;
font-weight: bold;
font-style: italic;
 }

 .div-2 {
    width: 100%;
    min-height: 100px;
    background-color: lightgray;
    text-align: center;
    line-height: 100px;
    margin: 5Opx;
    font-weight: bold;
    font-style: italic;
 }

 .div-3 {

    width: 100%;
    min-height: 100px;
    background-color: lightgray;
    text-align: center;
    line-height: 100px;
    margin-bottom: 50px;
    margin-top: 30px;
 }

 #sidebar {
    width: 20%;
    min-height: 400px;
    background-color: lightgray;
    float: left;
    text-align: center;
    line-height: 900%;
    font-weight: bold;
    font-style: italic;

 }

 #bodyarea {
    width: 75%;
    min-height: 400px;
    background-color: lightgrey;
    float: right;
    margin-right: 60px;
    text-align: center;
    line-height: 1000%;
    font-weight: bold;
    font-style: italic;
    
 }

 p {
   font-size: xx-large;
   font-style: italic;
   font-weight: bold;
 }