
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
 }

 main {
   width: 960px;
   margin-left: auto;
   margin-right: auto;
 }


 section {
   width: 960px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }

.mid-box {
   flex-wrap: wrap;
   justify-content: space-between;
}



.small-box {
   margin-left: auto;
   margin-right: auto;
   justify-content: space-between;
   flex-wrap: wrap;

}
 
nav {
   text-align: center;
   
}

footer {

}